{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}

<title>Acerca de mí</title>
<p>Holaa!! <br>
    Mi nombre es Caleb Salazar, soy un chico de 18 años al cual le encanta la tecnología. <br>
    Empecé hace poco mi carrera en ingeniería de sistemas y considero que el curso de python me ayudó a tener una idea más clara de lo que quiero para mi futuro. <br> El hecho de haber podido crear esta primera página web, es algo que me emociona y motiva a seguir adelante en este extenso mundo de la programación :)
</p>

<img src="{% static 'assets/aa.jpeg' %}" width="200">

{% endblock %}