{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>

    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'estudiantes' %}">Estudiantes</a>
                <a class="navbar-brand" href="{% url 'profesores' %}">Profesores</a>
                <a class="navbar-brand" href="{% url 'carreras' %}">Carreras</a>
                <a class="navbar-brand" href="{% url 'tareas' %}">Tareas</a> 
                <a class="navbar-brand" href="{% url 'home' %}">Home</a>
                {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="simpleDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                        <div style="display: inline-flex; padding: 0px 20px 0px 10px;">
                            <img src="{{ user.avatar.imagen.url }}" style="width: 50px;"/>
                        </div>
                        
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'editar_perfil' %}" class="dropdown-item">Editar datos</a></li>
                        <li><a href="{% url 'agregar_avatar' %}" class="dropdown-item">Agregar Avatar</a></li>
                        <li><a href="{% url 'logout' %}" class="dropdown-item">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="simpleDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Comenzar
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'login' %}" class="dropdown-item">Login</a></li>
                        <li><a href="{% url 'registro' %}" class="dropdown-item">REGISTRO</a></li>
                    </ul>
                </div>
                    
                {% endif %}
                
            </div>
        </nav>
        <section style="padding: 80px 40px;">
            {% block content %}
            {% endblock %}
        </section>
        
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a class="navbar-brand" href="{% url 'acerca_de' %}">Acerca de mi</a></li><p class="text-muted small mb-4 mb-lg-0">&copy; Caleb Salazar.</p><br>
                            <li class="list-inline-item"><a class="navbar-brand" href="{% url 'about' %}">About</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a target="_blank" href="https://www.instagram.com/calebsantiago04/"><i class="bi-instagram fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a target="_blank" href="#!"><i class="bi-whatsapp fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a target="_blank" href="https://github.com/Csalazar04"<i class="bi-github fs-3"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    
    </body>
</html>