{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>

    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'estudiantes' %}">Estudiantes</a>
                <a class="navbar-brand" href="{% url 'profesores' %}">Profesores</a>
                <a class="navbar-brand" href="{% url 'carreras' %}">Carreras</a>
                <a class="navbar-brand" href="{% url 'tareas' %}">Tareas</a> 
                <a class="navbar-brand" href="{% url 'home' %}">Home</a>
                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                <a class="btn btn-primary" href="{% url 'registro' %}">REGISTRO</a>
            </div>
        </nav>
        <section style="padding: 80px 40px;">
            {% block content %}
            {% endblock %}
        </section>
        
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">Ayuda</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contacto</a></li>
                      
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Curso de Python - CoderHouse.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a target="_blank" href="https://www.instagram.com/calebsantiago04/"><i class="bi-instagram fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a target="_blank" href="#!"><i class="bi-whatsapp fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a target="_blank" href="https://github.com/Csalazar04"<i class="bi-github fs-3"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    
    </body>
</html>