{% extends 'myapp/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Carrera</title>
</head>
<body>
    <form action="{% url 'busqueda_tareas' %}" method="post">
        {% csrf_token %}
        <p>Titulo de la tarea:</p>
        <input type="text" name="titulo">
        <input type="submit" value="Buscar">
      </form>
</body>
</html>
{% endblock %}