{% extends 'myapp/base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carreras</title>
</head>
<body>
    <div>
        <h1>¡¡Nuestras Carreras!!</h1>
        
        <ul>
            {% for carrera in carreras %}
            <li><h6>{{carrera.nombre}}, {{carrera.semestres}} semestres</h6></li>
            
            {% endfor %}
            <hr>
            <p><a href="{% url 'busqueda_carreras' %}" class="navbar-brand">Buscar Carreras</a></p>
            <a class="navbar-brand" href="{% url 'formulario_carreras' %}">Añadir Carreras</a>
        </ul>
    </div>

</body>
</html>
{% endblock %}