{% extends 'myapp/base.html'%}
{% block content %}

<title>Carreras</title>

    <div>
        <h1>¡¡Nuestras Carreras!! </h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Cant. Semestres</th>
                    <th>Opciones</th>
                </tr>
                {% for carrera in carreras %}
                <tr>
                    <td>{{carrera.nombre}}</td>
                    <td>{{carrera.semestres}}</td>
                    <td>
                        <a style="text-decoration: none;" href="{% url 'ver_carrera' carrera.id %}">Ver</a> <span style="color: darkcyan;">/</span>
                        <a style="text-decoration: none;" href="{% url 'editar_carrera' carrera.id %}">Editar</a>
                    </td>
                    <td>
                        <form action="{% url 'eliminar_carrera' carrera.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Eliminar"/>
                        </form>
                    </td>
                        
                    
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        <ul>
            <hr>
            <p><a href="{% url 'busqueda_carreras' %}" class="navbar-brand">Buscar Carreras</a></p>
            <a class="navbar-brand" href="{% url 'formulario_carreras' %}">Añadir Carreras</a>
        </ul>
        
    </div>
    
{% endblock %}