{% extends 'base.html' %}
{% block content %}

<title>Información del estudiante</title>
    <h1>Estudiante</h1>
    <ul>
        <li><b>Nombre:</b> {{estudiante.nombre}}</li>
        <li><b>Apellido:</b> {{estudiante.apellido}}</li>
        <li><b>Edad: </b>{{estudiante.edad}}</li>
        <li><b>DNI:</b> {{estudiante.dni}}</li>
        <li><b>Email:</b> {{estudiante.email}}</li>
    </ul>
    <br><br>
    <p>
        <a style="text-decoration: none;" href="{% url 'estudiantes' %}">Volver a la página de estudiantes</a>
    </p>

{% endblock %}