{% extends 'myapp/base.html' %}
{% block content %}

<title>Información del estudiante</title>
    <h1>Estudiante</h1>
    <ul>
        <li><b>Nombre:</b> {{object.nombre}}</li>
        <li><b>Apellido:</b> {{object.apellido}}</li>
        <li><b>Edad: </b>{{object.edad}}</li>
        <li><b>DNI:</b> {{object.dni}}</li>
        <li><b>Email:</b> {{object.email}}</li>
    </ul>
    
    <br><br>
    <a style="text-decoration: none;" href="{% url 'estudiantes' %}">Volver a la página de estudiantes</a>

{% endblock %}