{% extends 'myapp/base.html'%}
{% block content %}

<title>Estudiantes</title>

    <div>
        <h1>Estudiantes: </h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Opciones</th>
                </tr>
                {% for estudiante in object_list %}
                <tr>
                    <td>{{estudiante.nombre}}</td>
                    <td>{{estudiante.apellido}}</td>
                    <td>
                        <a style="text-decoration: none;" href="{% url 'ver_estudiante' estudiante.id %}">Ver</a><span style="color: darkcyan;">/</span>
                        <a style="text-decoration: none;" href="{% url 'editar_estudiante' estudiante.id %}">Editar</a><span style="color: darkcyan;">/</span>
                        <a style="text-decoration: none;" href="{% url 'eliminar_estudiante' estudiante.id %}">Eliminar</a>
                    </td>

                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        <ul>
            <p><a href="{% url 'busqueda_estudiantes' %}" class="navbar-brand">Buscar Estudiantes</a></p>
            <a class="navbar-brand" href="{% url 'crear_estudiante' %}">Añadir Estudiantes</a>
        </ul>
    </div>

{% endblock %}