{% extends 'myapp/base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>
</head>
<body>
    <div>
        <h1>Estudiantes: </h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Opciones</th>
                </tr>
                {% for estudiante in estudiantes %}
                <tr>
                    <td>{{estudiante.nombre}}</td>
                    <td>{{estudiante.apellido}}</td>
                    <td>
                        <a style="text-decoration: none;" href="">Ver</a> <span style="color: darkcyan;">/</span>
                        <a style="text-decoration: none;" href="">Editar</a> <span style="color: darkcyan;">/</span> 
                        <a style="text-decoration: none;" href="">Eliminar</a>
                    </td>

                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        <ul>
            <hr>
            <p><a href="{% url 'busqueda_estudiantes' %}" class="navbar-brand">Buscar Estudiantes</a></p>
            <a class="navbar-brand" href="{% url 'formulario_estudiantes' %}">Añadir Estudiantes</a>
        </ul>
        
    </div>
    </section>
</body>
</html>
{% endblock %}