{% extends 'myapp/base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>
</head>
<body>
    <div>
        <h1>Estudiantes: </h1>
        <ul>
            {% for estudiante in estudiantes %}
            <li><h6>{{estudiante.nombre}} {{estudiante.apellido}}</h6></li>
            {% endfor %}
            <hr>
            <p><a href="{% url 'busqueda_estudiantes' %}" class="navbar-brand">Buscar Estudiantes</a></p>
            <a class="navbar-brand" href="{% url 'formulario_estudiantes' %}">Añadir Estudiantes</a>
        </ul>
        
    </div>
    </section>
</body>
</html>
{% endblock %}