{% extends 'myapp/base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores</title>
</head>
<body>
    <div>
        <h1>Profesores: </h1>
        <ul>
            {% for profesor in profesores %}
            <li>{{profesor.nombre}} {{profesor.apellido}}</li>
            {% endfor %}
            <hr>
            <p><a href="{% url 'busqueda_profesores' %}" class="navbar-brand">Buscar Profesores</a></p>
            <a class="navbar-brand" href="{% url 'formulario_profesores' %}">Añadir Profesores</a>
        </ul>
    </div>
</body>
</html>
{% endblock %}