{% extends 'myapp/base.html'%}

{% block content %}

<title>Profesores</title>
    <div>
        <h1>Profesores: </h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Opciones</th>
                </tr>
                {% for profesor in profesores %}
                <tr>
                    <td>{{profesor.nombre}}</td>
                    <td>{{profesor.apellido}}</td>
                    <td>
                        <a style="text-decoration: none;" href="{% url 'ver_profesor' profesor.id %}">Ver</a> <span style="color: darkcyan;">/</span>
                        <a style="text-decoration: none;" href="{% url 'editar_profesor' profesor.id %}">Editar</a>
                    </td>
                    <td>
                        <form action="{% url 'eliminar_profesor' profesor.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Eliminar"/>
                        </form>
                    </td>

                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        <ul>
            <hr>
            <p><a href="{% url 'busqueda_profesores' %}" class="navbar-brand">Buscar Profesores</a></p>
            <a class="navbar-brand" href="{% url 'formulario_profesores' %}">Añadir Profesores</a>
        </ul>
        
    </div>

{% endblock %}