{% extends 'myapp/base.html'%}

{% block content %}

<title>Tareas</title>
    <div>
        <h1>Tareas: </h1>
        <ul>
            {% for tarea in tareas %}
            <div>
                <h1>{% if tarea.done == False %} 
                    🕑 
                    {% else %} 
                    ✅ 
                    {% endif %} 
                    {{tarea.titulo}}
                </h1>
        
                {% if tarea.done == True %}
                <p>Estado : <span style="color: green;">Realizada</span></p>
                <p>Descripción: <span style="color: green;">{{tarea.descripcion}}</span></p>
                <p>Carrera: <span style="color: green;">{{tarea.carreras.nombre}}</span></p>
                {% else %}
                <p>Estado: <span style="color: red;">Pendiente</span></p>
                <p>Descripción: <span style="color: red;">{{tarea.descripcion}}</span></p>
                <p>Carrera: <span style="color: red;">{{tarea.carreras.nombre}}</span></p>
                {% endif %}
                <hr>
            </div>
            {% endfor %}
            <p><a href="{% url 'busqueda_tareas' %}" class="navbar-brand">Buscar Tareas</a></p>
            <a class="navbar-brand" href="{% url 'formulario_tareas' %}">Añadir Tareas</a>
        </ul>
    </div>

{% endblock %}