{% extends 'myapp/base.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
</head>
<body>
    <div>
        <h1>Tareas: </h1>
        <ul>
            {% for tarea in tareas %}
            <div>
                <h1>{% if tarea.done == False %} 
                    🕑 
                    {% else %} 
                    ✅ 
                    {% endif %} 
                    {{tarea.titulo}}
                </h1>
        
                {% if tarea.done == True %}
                <p>Estado : <span style="color: green;">Realizada</span></p>
                {% else %}
                <p>Estado: <span style="color: red;">Pendiente</span></p>
                {% endif %}
                {# <p>Estudiante: {{tarea.student}}</p> #}
                <p>Descripción: {{tarea.descripcion}}</p>
                {# <p>Curso: {{tarea.course.name}}</p> #}
                <hr>
            </div>
            {% endfor %}
            <p><a href="{% url 'busqueda_tareas' %}" class="navbar-brand">Buscar Tareas</a></p>
            <a class="navbar-brand" href="{% url 'formulario_tareas' %}">Añadir Tareas</a>
        </ul>
    </div>

</body>
</html>
{% endblock %}